$tiber: #09383E;
$elephant: #0C383E;
$white: #fff;

.container__item {
    margin: 0 auto 40px;
}

.landing-page-container {
    width: 100%;
    min-height: 100%;
    height: 90rem;
    font-family: 'Montserrat', sans-serif;
    color: $tiber;
}

.content__wrapper {
    max-width: 1200px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.header {
    width: 100%;
    height: 2rem;
    padding: 4.5rem 0;
    display: block;
}

.header__item {
    display: inline-block;
}

.heading {
    width: 90%;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    line-height: 1.7rem;
    margin: 0 auto;
    text-align: center;
}

.coords {
    font-size: 1rem;
    display: inline-block;
    transform: rotate(-90deg) translateY(50%);
    position: relative;
    top: 40%;
    letter-spacing: 0.2rem;
    left: -11.5rem;
    margin: 0;
}

.ellipses-container {
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: 10.5rem;
    .greeting {
        position: absolute;
        top: 20rem;
        left: 11rem;
        right: 0;
        margin: 0 auto;
        text-transform: uppercase;
        letter-spacing: 4rem;
        font-size: 2.2rem;
        font-weight: 400;
        opacity: 0.5;
    }
}

.ellipses {
    border-radius: 50%;
    position: absolute;
    top: 0;
    border-style: solid;
}

.ellipses__outer--thin {
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-color: rgba(9, 56, 62, 0.1);
    animation: ellipsesOrbit 15s ease-in-out infinite;
}

.ellipses__outer--thick {
    width: 99.5%;
    height: 99.5%;
    border-color: $tiber transparent;
    border-width: 2px;
    transform: rotate(-45deg);
    animation: ellipsesRotate 15s ease-in-out infinite;
}

.ellipses__orbit {
    width: 2.5rem;
    height: 2.5rem;
    border-width: 2px;
    border-color: $tiber;
    top: 5rem;
    right: 6.75rem;
    &:before {
        content: '';
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 50%;
        display: inline-block;
        background-color: $tiber;
        margin: 0 auto;
        left: 0;
        right: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

@keyframes ellipsesRotate {
    0% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(-405deg);
    }
}

@keyframes ellipsesOrbit {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
