<div class="title-index">
<%= link_to "> Explore the information", posts_path, style:"text-decoration: none; color: black;" %>
</div>

<div class="container">
  <div class="container__item landing-page-container">
    <div class="content__wrapper">
      <p class="coords">N 48° 88' 46.50" / E 2° 33' 45.10"</p>
        <div class="ellipses-container">
          <h2 class="greeting">Inform <br><br> Share </h2>
        <div class="ellipses ellipses__outer--thin">
          <div class="ellipses ellipses__orbit"></div>
        </div>
        <div class="ellipses ellipses__outer--thick"></div>
      </div>
    </div>
  </div>
</div>
