.post-card {
  margin-top: 32px ;
  background-color: #F5F5F5;
  border-radius: 0 0 8px 8px;
}
.post-title {
  padding: 4px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: left;
}
.post-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  text-align: left;
}
.card-img-top {
  height: 125px;
  border-radius: 8px 8px 0 0;
}
.fa-comments {
  padding-bottom: 18px;
}
