.title-index {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 50px;
  font-weight: 400;
  padding-top: 180px;
}
.title-form {
  font-family: 'Roboto Serif', serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}
.fa-chevron-down {
  text-align: center;
  margin: 40px;
}
.post-title {
  font-family: 'Roboto Serif', serif;
  margin: 4px 12px 4px 12px;
  font-size: 24px;
}
.post-text {
  font-family: 'Roboto Serif', sans-serif;
  text-align: justify;
  margin: 0 12px 8px 12px;
  font-size: 16px;
}
.brand-title {
  font-family: 'Roboto Serif', serif;
  font-weight: 600;
  font-size: 24px;
  color: black;
}
.navbar-button {
  font-family: 'Roboto Serif', sans-serif;
  font-size: 18px;
}
.show-title {
  text-align: left;
  font-family: 'Roboto Serif', serif;
  font-size: 50px;
  font-weight: 400;
  margin-left: 48px;
}
.show-content {
  text-align: left;
  font-family: 'Roboto Serif', sans-serif;
  margin: 24px 24px 0 48px;
  text-align: justify;
}
.separator-text {
  text-align: left;
  color: rgb(200, 200, 200);
  font-family: 'Roboto Mono', monospace;
  margin-bottom: -4px;
}
.comment-nickname {
  text-align: left;
  margin-left: 32px;
  font-family: 'Roboto Serif', serif;
  font-size: 25px;
  font-weight: 600;
}
.comment-content {
  text-align: left;
  text-align: justify;
  margin: 12px 54px 12px 54px;
  font-family: 'Roboto Serif', sans-serif;
  font-size: 14px;
  font-weight: 200;
}
.footer-text {
  font-size: 13px;
  font-weight: 400;
  font-family: 'Roboto Serif', sans-serif;
}
.show-url {
  text-align: left;
  margin: 12px 0 -16px 48px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
}
